
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background:rgb(235, 242, 245);
}

.header {
    padding: 25px 20px;
    background-color: #add8e6;
    color: rgb(231, 228, 228);
    box-shadow: 0px 0px 10px 0px rgb(117, 117, 117) ;
    flex-direction: row;
}

.logo {
    font-size: 24px;
    color: rgb(0, 0, 0);
}

.form-container {
    max-width: 400px;
    margin: 65px auto;
    padding: 60px;
    background-color: #add8e6;
    border-radius: 10px;
    box-shadow:  10px 10px 5px rgb(117, 117, 117)  ;
    justify-content: center;
}

.form-group {
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group label {
    font-size: 18px;
    margin-bottom: 10px;    
}

.button {
    padding: 10px 20px;
    background-color: rgb(31, 45, 172);
    color: white;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 15px;
    
}

fieldset{
    border-color: rgb(235, 217, 139);
    margin-bottom: 5px;
}
.dp
{
    width: 105%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;

}
